
__pycache__/mc_funcs.cpython-38.pyc

__pycache__/start_server.cpython-38.pyc

.discord_mc_bot.py.swp

.idea/inspectionProfiles/profiles_settings.xml

.idea/modules.xml

.idea/slime_server.iml

.mc_funcs.py.swp

test.py
