
__pycache__/server_functions.cpython-38.pyc

__pycache__/start_server.cpython-38.pyc

.discord_mc_bot.py.swp

.idea/inspectionProfiles/profiles_settings.xml

.idea/modules.xml

.idea/slime_server.iml

.server_functions.py.swp

test.py
